version: "3.8"
services:
  
  db:
    container_name: pg-docker
    environment:
      - POSTGRES_PASSWORD=docker
    ports:
      - "5432:5432"
    volumes:
      - "./data:/var/lib/postgresql/data"
    image: postgres:12

  redis:
    ports:
      - "6379:6379"
    volumes:
      - "./rds:/data"
    container_name: rds-docker
    image: redis
